$green: #B9FF66
$dark: #191A23
$black: #000000
$gray: #F3F3F3

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Space Grotesk', sans-serif

.green-text
  background-color: $green
  font-size: 2rem
  border-radius: 10px
  padding: .4rem

.container
  max-width: 85vw
  margin: 0 auto

// NAVIGATION--------------------------------------------------------
.nav-wrap
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2rem 0
  ul
    display: flex
    align-items: center
    gap: 2rem
    list-style: none
    a
      text-decoration: none
      text-transform: capitalize
      font-size: 1rem
      color: $black
    .quote
      border: 1px solid black
      padding: 1rem
      border-radius: 4px
      transition: ease-in-out 0
    .quote:hover
      background-color: $green

// HEROOO----------------------------------------------------------------
.hero-wrap
  display: flex
  align-items: center
  padding: 2.5rem 0
  gap: 4rem
  .hero-text
    display: flex
    flex-direction: column
    gap: 1.5rem
    h1
      font-size: 3.4rem
    p
      font-size: 1.2rem
      max-width: 85%
    button
      background-color: $black
      color: $gray
      font-size: 1rem
      padding: 1rem
      border: none
      border-radius: 10px
      max-width: 40%
  .hero-img
    img
      max-width: 40vw

.companies
  display: flex
  gap: 4rem
  align-items: center

// SERVICES----------------------------------------------------------------
.services-wrap
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 5rem 0
  gap: 2rem

.service-head
  display: flex
  align-items: center
  gap: 2rem
  padding: 1.5rem 0
  p
    max-width: 50%
.service-items-wrap
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 2rem
  .item-img
    max-width: 50%
  .search
    display: flex
    padding: 2.5rem
    gap: 3.5rem
    border: 1px solid $black
    border-bottom: 5px solid $black
    border-radius: 1.5rem
    background-color: $gray
  .pay
    display: flex
    padding: 2.5rem
    gap: 3.5rem
    border: 1px solid $black
    border-bottom: 5px solid $black
    border-radius: 1.5rem
    background-color: $green
  .social
    display: flex
    padding: 2rem
    gap: 3.5rem
    border: 1px solid $black
    border-bottom: 5px solid $black
    border-radius: 1.5rem
    background-color: $dark
  .email
    display: flex
    padding: 2rem
    gap: 3.5rem
    border: 1px solid $black
    border-bottom: 5px solid $black
    border-radius: 1.5rem
    background-color: $green
    background-color: $gray
  .content
    display: flex
    padding: 2rem
    gap: 3.5rem
    border: 1px solid $black
    border-bottom: 5px solid $black
    border-radius: 1.5rem
    background-color: $green
  .analytics
    display: flex
    padding: 2rem
    gap: 3.5rem
    border: 1px solid $black
    border-bottom: 5px solid $black
    border-radius: 1.5rem
    background-color: $dark

.text
  display: flex
  flex-direction: column
  gap: 4rem
  h1
    background-color: $green
  .learn
    display: flex
    align-items: center
    gap: 1rem

// BANNER ----------------------------------------------------------------------
.banner
  display: flex
  align-items: center
  background-color: $gray
  padding: 1rem 3rem
  gap: 6rem
  border-radius: 3rem
  .banner-text
    display: flex
    flex-direction: column
    gap: 1.5rem
    h1
      font-size: 2rem
    p
      font-size: 1rem
      max-width: 85%
    button
      background-color: $dark
      color: #fff
      padding: 1rem
      border-radius: 10px
      border: none
      max-width: 50%
      font-size: 1rem
      cursor: pointer
  .banner-img
    padding-right: 3rem
    img
      max-width: 25vw

// CASE STUDIES ----------------------------------------------------------------
.case-wrap
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 2rem
  padding: 5rem 0
  .case-head
    display: flex
    gap: 3rem
    align-items: center
    p
      max-width: 50%
  .case-content
    display: flex
    gap: 3rem
    align-items: center
    padding: 3rem
    background-color: $dark
    border-radius: 3rem
    border: none
    .case-item
      display: flex
      flex-direction: column
      gap: 2rem
      p
        color: #fff
        font-size: 1rem
      button
        display: flex
        align-items: center
        gap: 1rem
        background-color: $dark
        font-size: 1rem
        border: none
        color: $green

// PROCESSS ------------------------------------------------------------------
.process-wrap
  .process-head
    display: flex
    align-items: center
    gap: 3rem
    padding: 0 0 3rem 0
    p
      max-width: 30%
  .process-items
    display: flex
    flex-direction: column
    gap: 2rem
    .process-item
      padding: 1.5rem
      border-radius: 30px
      background-color: $gray
      border-bottom: 5px solid $black
      cursor: pointer

.process-top
  display: flex
  justify-content: space-between
  .process-top-text
    display: flex
    align-items: center
    gap: 2rem
    h1
      font-size: 3rem
    h5
      font-size: 1.5rem
      font-weight: 500

// MEDIA QUERIES----------------------------------------------------------------
@media screen and (max-width: 350px)
  // nav
  //   position: relative
  //   .nav-wrap
  //     padding: .5rem 0 1.5rem 0
      // .mobile
      //   cursor: pointer
      //   padding: .8rem
      //   img
      //     width: 40px

      // img
      //   max-width: 70%
      // .nav-items
      //   position: relative
      //   background-color: $green
      //   width: 100vw
      //   height: 100vh
      //   z-index: 99
      //   ul
      //     flex-direction: column
      //     align-items: flex-end
      //     padding:rem
      //     width: 100vw
      //     height: 100vh

  .hero-wrap
    display: flex
    flex-direction: column-reverse
    padding: .5rem 0
    gap: 1rem
    .hero-img
      img
        max-width: 70vw
    .hero-text
      h1
        font-size: 2.2rem
        width: 100%
      p
        max-width: 100%
      button
        max-width: 100vw
  .service-head
    flex-direction: column
    p
      width: 100vw
  .service-items-wrap
    display: flex
    flex-direction: column
