/* Error: Tabs and spaces may not be mixed.
 *     ,
 * 299 |       animation-play-state: running
 *     | ^^^^^^
 *     '
 *   input.sass 299:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Tabs and spaces may not be mixed.\a     \2577 \a 299 \2502        animation-play-state: running\a     \2502  ^^^^^^\a     \2575 \a   input.sass 299:1  root stylesheet";
}
